/* ELEMENTOS BASICOS*/

/*Estilo general del body*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
  margin: 0px;
}

button {
    /*color letra*/
    color: white;
    /*Borde*/
    border:5px solid #0099cc;
    /*Color fondo*/
    background-color: #0099cc;
    /*Redondeo boton*/
    border-radius:8px;
    /*Duracion transicion del efecto*/
    transition-duration: 0.5s;
    /*Cambia el cursor cuando lo ponemos encima*/
    cursor: pointer;
    /*padding. Espacio desde texto hasta bordes*/
    padding: 10px 5px;
    /*Espacio entre botones*/
    margin: 5px 5px;
    /*Anchura fija*/
    display: inline-block;
    width: 150px;
    /*height: 50px;*/
}

button:hover {
    color: red;
    background-color: #ffffff;
}

/* BARRA SUPERIOR*/

/*Estilo de la barra superior*/
.topnav {
  overflow: hidden;
  background-color: #0099cc;
}

/*Estilo elemntos 'a' en la barra superior*/
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
    /*Color fondo*/
    background-color: #ffffff;
    /*Color texto*/
    color: red;
}

/*Estilo elemente 'titulo' de la barra superior.*/
.topnav div.titulo {

  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  /*background-color: #333*/
  text-transform: uppercase;
  /*Negrita*/
  font-weight:bold;
}

/* CUERPO */

/*Estilo del elemento 'cuerpo' dentro de body. Es donde los diferentes templates
insertarán su código al heredar de topbar_base.html*/

.cuerpo {
    margin: 10px 25px;
}

/* TEXTO (<span>) */

.cuerpo span {
    color: white;
}

/*Enlaces (<a>)*/
.cuerpo a{
    color:red;
}

.cuerpo a:visited{
    color:red;
}

.cuerpo a:hover{
    color:yellow;
}

/* TABLAS */

/*Tabla*/
.cuerpo table {
    border-collapse: collapse;
    width: 50%;
}

/*Celdas individales y cabeera*/
.cuerpo th, td {
    text-align: left;
    padding: 5px;
}

/*Filas*/
.cuerpo tr
{
    background-color: black;
    color: white;
}

/*Filas pares*/
.cuerpo tr:nth-child(even)
{
    background-color: white;
    color: black;
}

/*Cabecera*/
.cuerpo th {
    background-color: #4CAF50;
    color: white;
}


/*accountInfo.html*/

.cuerpo div.userInfoBlock {
    font-size: 20px;
}

.cuerpo span.userInfo {
    color:red;
}

/* index.html (menú principal) */

.cuerpo input[type="checkbox"]{
    color: blue;
    background: blue;
}
