/* ---------- ESTILO GLOBAL --------- */

/*body. Estilo general, luego puede ser sobrescrito*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
  margin: 0px;
}

/*Apariencia Botones*/
button {
    /*color letra*/
    color: white;
    /*Borde*/
    border:5px solid #0099cc;
    /*Color fondo*/
    background-color: #0099cc;
    /*Redondeo boton*/
    border-radius:8px;
    /*Duracion transicion del efecto*/
    transition-duration: 0.5s;
    /*Cambia el cursor cuando lo ponemos encima*/
    cursor: pointer;
    /*padding. Espacio desde texto hasta bordes*/
    padding: 10px 5px;
    /*Espacio entre botones*/
    margin: 5px 5px;
    /*Anchura fija*/
    display: inline-block;
    width: 150px;
    /*height: 50px;*/
}

/* Animacion al poner cursor encima botones */
button:hover {
    color: red;
    background-color: #ffffff;
}




/* ---------- BARRA SUPERIOR --------- */

/*Estilo de la barra superior*/
.topnav {
  overflow: hidden;
  background-color: #0099cc;
}

/*logo*/
.topnav img {
    height: 44px;
    width: auto;
    margin-left: 10px;
}

/*Estilo elementos 'a' en la barra superior*/
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/*Animaciones al poner cursor encima*/
.topnav a:hover {
    /*Color fondo*/
    background-color: #ffffff;
    /*Color texto*/
    color: red;
}

/*Estilo elemente 'titulo' de la barra superior.*/
/* REMPLAZADO TITULO POR LOGO*/
.topnav div.titulo {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  /*background-color: #333*/
  text-transform: uppercase;
  /*Negrita*/
  font-weight:bold;
}

/* ---------- CUERPO --------- */

/*Estilo del elemento 'cuerpo' dentro de body. Es donde los diferentes templates
insertarán su código al heredar de topbar_base.html*/

/* estilo general. centra el cuerpo 
en la presentación de la página*/
.cuerpo{
    border: solid 2px white;
    border-radius: 5px;
    padding: 10px;
    /*
    left: 50%;
    top: 50%;

    height: auto;
    margin-top: 5%;

    width: auto;
    margin-left: 5%;
    */
    text-align: center;
    margin: 5%;

}

/* secciones (<div>)*/
.cuerpo div{
    /*centrar <div>*/
    margin: auto;
}

/* cabeceras (<h1>) */
.cuerpo h1 {
    color: white;
}

/* cabeceras (<h2>) */
.cuerpo h2 {
    color: white;
}

/* cabeceras (<h3>) */
.cuerpo h3 {
    color: white;
}

/* texto (<span>) */
.cuerpo span {
    color: white;
}

/* texto (<p>) */
.cuerpo p {
    color: white;
}

/* enlaces (<a>) */
.cuerpo a{
    color:white;
}

.cuerpo a:visited{
    color:white;
}

.cuerpo a:hover{
    color:yellow;
}

/* Campos texto */
input[type=text], input[type=password]{
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border:5px solid #0099cc;
}

/* tablas */
table {
    /* centrar tablas */
    margin: auto; /* or margin: 0 auto 0 auto */
}

/* >>>>> TABLAS */

/* Estilo de las tablas dentro de cuerpo*/
/*Tabla*/
.cuerpo table {
    border-collapse: collapse;
    width: 50%;
}

/*Celdas individales y cabeera*/
.cuerpo th, td {
    text-align: left;
    padding: 5px;
}

/*Filas*/
.cuerpo tr
{
    background-color: black;
    color: white;
}

/*Filas pares*/
.cuerpo tr:nth-child(even)
{
    background-color: white;
    color: black;
}

/*Cabecera*/
.cuerpo th {
    background-color: #4CAF50;
    color: white;
}

/* >>>>> INFORMACION CUENTA */
/* accountInfo.html */

.cuerpo div.userInfoBlock {
    font-size: 20px;
}

.cuerpo span.userInfo {
    color:red;
}

/* >>>>> ACERCA DE RANDOM-LENDER */
/* about.html */
.cuerpo #divAbout{
    /*Alineacion a la izquierda*/
    text-align: left;
}

/* >>>>> NUMERO RANDOM */
/* random.html */
#numRandDiv {
    margin: 50px;
}
/*Mostraremos el número más grande*/
#numRandSpan {
    font-size: 80px;
    border: 1px solid yellow;
    background-color: #4CAF50;
    padding: 5px;
}

/* >>>>> MENU PRINCIPAL*/
/* index.html */

/* fieldset */
.cuerpo fieldset {
    border: 1px solid rgb(255,255,255);
    width: 500px;
    margin:auto;
}

.cuerpo fieldset h2 {
    text-align: center;
}


/*menu*/
/*ul -> unordered list: contiene a los li*/
/*li -> list item: cada una de las entradas de la lista*/

/*Estilo global del menu.
Sobrescrito en parte por las reglas de despues.*/
#menu,
#menu ul,
#menu ul li,
#menu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
}
/*div id="menu"*/
#menu {
  width: auto;
  text-align: center;
  margin: auto;
    
}
/*estilo de las entradas del menu*/
#menu ul li {
  border: 1px solid white;
  margin: 0 0 10px 0;
  background: #0099cc;
  border-radius: 10px;
}

#menu ul li:hover {
  background: #ffffff;
}
/*Los <li> contienen un <div> que a si vez contiene
un <a>*. Al situar el cursor encima del <li> 
modificaremos el estilo del <a>.*/
#menu ul li:hover > div a {
  color: red;
}
/*Estilo de los <a> en el menu.
MUY IMPORTANTE.*/
#menu ul li div a {
  /*La clave es -> display: block
  para los elementos <a>.
  Son visualmente como botones.*/
  display: block;
  padding: 14px 12px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

/* DIALOGS */


.ui-dialog-buttonpane {
  display: flex;
  align-items: center;
  justify-content: center;
  float: center;
}

#dialogOkBoton
{
	height: 40px;
	margin: 0 auto;
	display: block;
	width: 150px;
}
