{# accountInfo.html #}
{% extends "topbar_base.html" %}
{% block cuerpo %}
    <title>Acerda de Random-Lender</title>
    <div id="divAbout">
    <h1>Random-Lender</h1>
    <p>
    <span>Random_Lender es una aplicación web que obtiene números aleatorios de
    la web </span><a
    href="http://www.numeroalazar.com.ar/">numeroalazar.com.ar</a>
    <span> y los almacena en diferentes bases de datos:</span>
    </p>
    <ul>
        <li><p>MongoDB (local)</p></li>
        <li><p>Beebotte (online)</p></li>
        <li><p><span>MySQL </span><del>(local)</del>
        <span>(obsoleto)</span></p></li>
    </ul>
    <p>Random_lender nos permite realizar ciertas operaciones con los números
    almacenados:</p>
    <ul>
        <li><p><b>Obtener número aleatorio</b></p><p>Se nos muestra un numero
        aleatorio alamcenado en la base de datos.</p></li>
        <li><p><b>Mostrar tabla</b></p><p>Nos muestra una tabla con todos los números en la
        base de datos y sus respectivas fechas de obtención.</p></li>
        <li><p><b>Umbral</b></p><p>Indicado un número como umbral, se nos indicará cuál
        es el último número alamacenado en las bases de datos que lohaya superado
        tanto por arriba como por abajo.</p></li>
        <li><p><b>Media</b></p><p>Muestra la media de los números almacenados en las bases
        de datos.</p></li>
        <li><p><b>Gráficas Remotas</b> (Beebotte):</p><p>Muestra gŕaficas de la web de Beebotte.</p></li>
        <li><p><b>Gráficas Locales</b> (Plotly):</p><p> Muestra gráfica de los números aleatorios registrados.
        También permite mostrar gráfico de barras con las frecuencias de los
        números por intervalos. Se emplea la librería de plotly para javascript.</p></li>
    </ul>
    
    <p>Random-Lender también nos avisará cuando se haya registrado un número que
    active el umbral del usuario, es decir, que sea mayor que el umbral del
    usuario (puede cambiarse en el apartado de cuenta, opción en la barra
    superior de la aplicación).</p>
    
    <h2>Umbrales de Usuario</h2>

    <p>Los umbrales funcionan de la siguiente manera:</p>
    <ul>
        <li><p>Un umbral debe estar comprendido entre 0 y 100
        para que sea válido.</p></li>
        <li>
            <p>La aplicación notificará al 
            usuario cuando se registre un número mayor que el umbral 
            que haya especificado.</p>
            <p>Ejemplo:
            <br>
            <span>Umbral Usuario: <b>50</b></span>
            <br>
            <span>Número registrado: 40 &#8594; 40 &lt; 50 &#8594; <b>No</b> avisa</span>
            <br>
            <span>Número registrado: 60 &#8594; 60 &gt; 50 &#8594; <b>Avisa</b></span>
            </p>
        </li>
    </ul>
    </div>
{% endblock %}
