{# changeUserUmbral.html #}
{% extends "topbar_base.html" %}
{% block cabeza %}
    {# Cargo Script para la comprobación de datos#}
    <script 
    src="{{ url_for('static', filename='js/enviarUmbral.js') }}">
    </script>
    {# Script necesitado por enviarUmbral.js para interpretar
    respuestas del servidor#}
    <script 
    src="{{ url_for('static', filename='js/respuestasServidor.js') }}">
    </script>
{% endblock %}

{% block cuerpo %}
    <form 
    id="form_umbral" 
    action="{{url_for('blueUser.cambiarUmbral')}}" 
    method="POST">
        <p>Elige tu umbral: {{ username }}</p>
        <p>Debe ser un número comprendido entre 0 y 100.</p>
        <input type="text" id="umbral" name="umbral" required="true">
        <button type="submit" id="botonUmbral">Enviar</button>
    </form>
    <script>
        var selector = "#form_umbral";
        enviarUmbralForm(selector);
    </script>
{% endblock %}
