{# DBselect.html #}
{% extends "topbar_base.html" %}
{% block cabeza %}
	{# Importo script para hacer post
    de la opcion elegida del menú principal
    y para redireccionar a la url recibida
    del servidor como respuesta.#}
    <script 
    src= "{{ url_for('static',filename='js/enviarOpcionMenu.js') }}">
    </script>
    {# Necesitada por enviarOpcionMenu.js. Se emplea para evaluar las respuestas
    recibidas del servidor.#}
    <script 
    src= "{{ url_for('static',filename='js/respuestasServidor.js') }}">
    </script>
{% endblock %}

{% block cuerpo %}
<title>Selección DB</title>
<div><p>Selecciona base de datos:</p></div>
<br>
<br>
    <button 
        type = "button"
        class="botonMenu" 
        opcion="MySQL"
        >MySQL</button>
    <br>
    <button 
        type = "button"
        class="botonMenu" 
        opcion="MongoDB"
        >MongoDB</button>
    <br>
    <button 
        type = "button"
        class="botonMenu" 
        opcion="Beebotte"
        >Beebotte</button>

<script>
    //enviarOpcionBotones();
    var listaBotones = $(".botonMenu");
    var atrib = "opcion"
    enviarOpcionMenu(listaBotones, atrib);
</script>
{% endblock %}
