{# DBselect.html #}
{% extends "topbar_base.html" %}
{% block cabeza %}
{# Importo script para hacer post
de la opcion elegida como base de datos
a utilizar y para redireccionar a la url recibida
del servidor como respuesta (que será el menú principal).#}
<script
src= "{{ url_for('static',filename='js/enviarOpcionBoton.js') }}">
</script>
{% endblock %}

{% block cuerpo %}
<title>Selección DB</title>
<div>Selecciona base de datos:  </div>
<br>
<br>
    <button class="botonMenu" value="MySQL">MySQL</button>
    <br>
    <button class="botonMenu" value="MongoDB">MongoDB</button>
    <br>
    <button class="botonMenu" value="Beebotte">Beebotte</button>

<script>
    enviarOpcionBotones();
</script>
{% endblock %}
