{# media.html #}
{% extends "topbar_base.html" %}
{% block cuerpo %}
<title>Gráficas Beebotte</title>
<div>Gráficas Beebotte:  </div>
<br>
{#Se creará una tabla con el umbral en este elemento#}
<div id="result">
</div>
<span> Se te va a redirigir fuera de la web. Si quieres continuar </span>
<a
href="https://beebotte.com/dash/09db3e70-df3a-11e7-bfef-6f68fef5ca14?shareid=shareid_MO4DtM8x1potiMSM">Haz
click aquí</a>
<span id="linkaux">o aquí.</span>
<br>

<script>

$.ajax({url: "{{ url_for('static', filename='phpscript.php') }}",dataType: "json", success: function(data){console.log('jola: ' + data);}});

$("span#linkaux").click(function(){window.open("https://beebotte.com/dash/09db3e70-df3a-11e7-bfef-6f68fef5ca14");})

</script>

{% endblock %}
