{# grafo.html #}
{% extends "topbar_base.html" %}
{% block cabeza %}

    {# Importo bibliotecas de plot.ly para js. #}

    {# El local no funciona. Tengo que importarlo del CDN. #}
    <script 
    src="{{ url_for('static',filename='js/plotly-latest.min.js') }}">
    </script>
    {#<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>#}

    {# Crear Graficas. Necesita haber importado plotly.js #}
    <script src="{{ url_for('static',filename='js/crearGrafo.js') }}">
    </script>
    {# Conversión de listas recibidas de Flask.#}
    <script src="{{ url_for('static',filename='js/arrayOps.js') }}">
    </script>
    {# Funciones basicas para la creacion de tablas.#}
    <script src="{{ url_for('static',filename='js/tableOps.js') }}">
    </script>

{% endblock %}

{% block cuerpo %}
    <title>Grafo Plot.ly</title>
    <span>Seleccione intervalo: </span>
    <input type="text" id="textIntervalo"></input>
    <button id="botonGrafica">Refrescar</button>
    <div id="grafica" style="width:600px;height:250px;"></div>
    <br>
    <div id="grafica2" style="width:600px;height:250px;"></div>
    <br>
        <div><p>Base de datos empleada: {{DBName}}</p></div>
    <br>

    {# Creo la grafica con plotly #}
    <script>

        graphElem = document.getElementById('grafica');
        graphElem2 = document.getElementById('grafica2');

        {#Recibo listas con los datos de flask.
        Estas listas recibidas no se reconocerán como arrays sino
        como strings, por lo que habrá que convertirlas.#}
        var listaNumRaw = '{{listaNum}}'
        var listaDateRaw = '{{listaDate}}'

        console.log("***")

        var listaNum = flaskToArray(listaNumRaw);
        var listaDate = flaskToArray(listaDateRaw);
        var listaDateFormat = parseDateArrayToDatetime(listaDate);

        {#Si las fechas no están de menor a mayor, ordeno todas las listas.#}
        if(listaDate[0]>listaDate[1])
        {
            listaNum=listaNum.reverse();
            listaDate=listaDate.reverse();
            listaDateFormat=listaDateFormat.reverse();
        }

        window.onload=crearGrafoSimpleNumRnd(graphElem, listaDateFormat, listaNum);
        
        {# Empleamos jQuery en vez de js para obtener los valores de los
        elementos y definir eventos.#}
        $('#botonGrafica').click(function()
        {
            var intervalo = parseInt($('#textIntervalo').val())
            if(isNaN(intervalo))
            {
                window.alert("Por favor, introduce un número.");
            }
            else
            {
                crearGrafoFreqNumRnd(graphElem2,listaNum,intervalo);
            }
        }
        );
    </script>
{% endblock %}

{#Añado funcionalidad al recibir SSE. Añadiremos numero recibdo
en el SSE a la tabla. Disponemos de la variable e.data que 
podremos parsear mediante la libreria evaluar#}
{%block SSE%}
	//Elementos html en los que generar las gráficas
	graphElem1 = document.getElementById('grafica');
	graphElem2 = document.getElementById('grafica2');
    //Los datos SSE estan en variable e.data
    updateGrafoSimpleSSE(e.data, graphElem1);
    updateGrafoFreqSSE(e.data, graphElem2);
{% endblock %}

