{# grafo.html #}
{% extends "topbar_base.html" %}
{% block cabeza %}

    {# Importo bibliotecas de plot.ly para js. #}

    {# El local no funciona. Tengo que importarlo del CDN. #}
    {# <script src="{{ url_for('static',filename='js/plotly.js') }}"> #}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    {# Crear Graficas #}
    <script src="{{ url_for('static',filename='js/crearGrafo.js') }}">
    </script>
    {# Conversión de listas recibidas de Flask.#}
    <script src="{{ url_for('static',filename='js/arrayOps.js') }}">
    </script>



{% endblock %}

{% block cuerpo %}
<title>Grafo Plot.ly</title>
<span>Seleccione intervalo: </span>
<input type="text" id="textIntervalo"></input>
<button id="botonGrafica">Refrescar</button>
<div id="grafica" style="width:600px;height:250px;"></div>
<br>
<div id="grafica2" style="width:600px;height:250px;"></div>
<br>
    <div>Base de datos empleada: {{DBName}}</div>
<br>

{# Creo la grafica con plotly #}
<script>

	graphElem = document.getElementById('grafica');
	graphElem2 = document.getElementById('grafica2');

	{#Recibo listas con los datos de flask.
    Estas listas recibidas no se reconocerán como arrays sino
    como strings, por lo que habrá que convertirlas.#}
    var listaNumRaw = '{{listaNum}}'
    var listaDateRaw = '{{listaDate}}'

    console.log("***")

    var listaNum = flaskToArray(listaNumRaw);
    var listaDate = flaskToArray(listaDateRaw);
    var listaDateFormat = parseDateArrayToDatetime(listaDate);

    {#Si las fechas no están de menor a mayor, ordeno todas las listas.#}
    if(listaDate[0]>listaDate[1])
    {
        listaNum=listaNum.reverse();
        listaDate=listaDate.reverse();
        listaDateFormat=listaDateFormat.reverse();
    }

    window.onload=crearGrafoSimple(graphElem, listaDateFormat, listaNum);
    
    {# Empleamos jQuery en vez de js para obtener los valores de los
    elementos y definir eventos.#}
    $('#botonGrafica').click(function()
    {
        var intervalo = parseInt($('#textIntervalo').val())
        if(isNaN(intervalo))
        {
            window.alert("Por favor, introduce un número.");
        }
        else
        {
            crearGrafoFreq(graphElem2,listaNum,intervalo);
        }
    }
    );



</script>



{% endblock %}
