<!DOCTYPE html>
<html lang="es">
<body>
<title>Bienvenido!</title>
<h1>Aplicación Flask</h1>
<div>Base de datos actual: {{DBName}}</div>
    <fieldset>
        <h2>Selecciona una opción</h2>
        <form action="." method="POST">
            <!--<input type="text" name="text"><br>-->
            <input type="radio" name="option" value="elegir" checked>
            Elegir base de datos <br>
            <input type="radio" name="option" value="tablas" checked>
            Mostrar tablas <br>
            <input type="radio" name="option" value="umbral">
            Umbral 
            <input type="text" name="umbralTxt">
            <br>
            <input type="radio" name="option" value="media">
            Media Valores <br>
            <input type="radio" name="option" value="grafoBee">
            Obtener gráficas de Beebotte <br>
            <input type="radio" name="option" value="grafo">
            Crear gráfica de la base de datos actual <br>
            <input type="submit" name="my-form" value="Send"><br>
    </fieldset>
</form>
</body>
</html>

