{# index.html #}
{% extends "topbar_base.html" %}
{% block cuerpo %}
<title>Bienvenido!</title>
<h1>Aplicación Flask</h1>
<p align="right">User: {{username}}</p>
<p align="right">Base de datos actual: {{DBName}}</p>
<p align="center">Menu Principal</p>
    <fieldset>
        <h2>Selecciona una opción</h2>
            <button class="botonMenu" value="elegir">Elegir base de datos</button>
            <br>
            <button class="botonMenu" value="tablas">Mostrar tablas</button>
            <br>
            <button class="botonMenu" value="umbral">Umbral</button>
            <input class="textoMenu" type="text" name="umbralTxt">
            <br>
            <button class="botonMenu" value="media">Media</button>
            <br>
            <button class="botonMenu" value="grafoBee">Gráfica Beebotte</button>
            <br>
            <button class="botonMenu" value="grafo">Gráfica</button>
    </fieldset>

<script>
{#Envío petición POST a flask mediante jQuery#}
$('.botonMenu').map(function()
    {
        $(this).click(function()
        {
            var opcion = $(this).attr('value');
            var datosEnviar = 'opcion='+opcion ;
            var umbralTxt;
            if(opcion == "umbral")
            {
                umbralTxt = $('.textoMenu').val();
            }
            console.log('soy el boton:' + opcion);
            if(umbralTxt != undefined)
            {
                datosEnviar += '&umbralTxt='+umbralTxt;
                console.log('Umbral:' + umbralTxt);
            }
            console.log('param: ' + datosEnviar);
            //Enviamos POST
            //url actual
            var url = window.location.href;
            $.post(url, datosEnviar, function(e)
            {
                console.log(' resp. server: ' + e)
                window.location=e;
            });
        });
    }
);

</script>
{% endblock %}

