{# index.html #}
{% extends "topbar_base.html" %}
{% block cabeza %}
    {# Importo script para hacer post
    de la opcion elegida del menú principal
    y para redireccionar a la url recibida
    del servidor como respuesta.#}
    <script 
    src= "{{ url_for('static',filename='js/enviarOpcionMenu.js') }}">
    </script>
    {# Necesitada por enviarOpcionMenu.js. Se emplea para evaluar las respuestas
    recibidas del servidor.#}
    <script 
    src= "{{ url_for('static',filename='js/respuestasServidor.js') }}">
    </script>
{% endblock %}

{% block cuerpo %}
    <title>Random Lender</title>
    <h1>Aplicación Random Lender</h1>
    <p align="right">User: {{username}}</p>
    <p align="right">Base de datos actual: {{DBName}}</p>
    {#
        <fieldset>
            <h2>Selecciona una opción</h2>
                <button class="botonMenu" value="elegir">Elegir base de datos</button>
                <br>
                <button class="botonMenu" value="tablas">Mostrar tablas</button>
                <br>
                <button class="botonMenu" value="umbral">Umbral</button>
                <input class="textoMenu" type="text" name="umbralTxt">
                <br>
                <button class="botonMenu" value="media">Media</button>
                <br>
                <button class="botonMenu" value="grafoBee">Gráfica Beebotte</button>
                <br>
                <button class="botonMenu" value="grafo">Gráfica</button>
        </fieldset>
    #}
        <fieldset>
            <h2>Selecciona una opción</h2>
            <div id="menu">
                <ul>
                    <li>
                        <div>
                            <a 
                            id="link_random"
                            href='{{url_for("blueApp.webRandom")}}'>
                            Dame un número aleatorio!</a>
                        </div>
                    </li>
                    <li id="item">
                        <div>
                            <a 
                            id="link_selectDB"
                            href='{{url_for("blueApp.webSelectDB")}}'>
                            Elegir base de datos</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            {#<span>Mostrar tablas</span>#}
                            <a 
                            id="link_tabla"
                            href='{{url_for("blueApp.webTabla")}}'>
                            Mostrar tablas con los números aleatorios</a>

                        </div>
                    </li>
                    <li>
                        <div>
                            {#<span>Umbral<span>#}
                            <a 
                            id="link_umbral"
                            href='{{url_for("blueApp.webUmbral", umb=50)}}'
                            >Umbrales</a>
                        </div>
                        <div>
                            <input class="textoMenu" type="text" name="umbralTxt">
                        </div>
                    </li>
                    <li>
                        <div>
                            {#<span>Media</span>#}
                            <a 
                            id="link_media"
                            href='{{url_for("blueApp.webMedia")}}'
                            >Media de los Números Aleatorios</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            {#<span>Gráfica Beebotte</span>#}
                            <a
                            id="link_grafo_bee"
                            href='{{url_for("blueApp.webGrafoBee")}}'
                            >Gráficas Remotas (Beebotte)</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            {#<span>Gráfica</span>#}
                            <a 
                            id="link_grafo"
                            href='{{url_for("blueApp.webGrafo")}}'
                            >Gráficas Locales (Plot.ly)</a>
                        </div>
                    </li>
                    </ul>
                </ul>
        </div<>
        </fieldset>

    <script>
        var url = '{{url_for("blueApp.webUmbral")}}';
        actualizarLinkUmbral($("#link_umbral"), $(".textoMenu"), url);
        
    </script>
{% endblock %}

