{# jsoauthlogin.html #}
{% extends "topbar_base.html" %}

{% block cabeza %}
    <meta name="google-signin-client_id" content="933060102795-0hf4m6v3cuq4ocvubaide7ouqui2l4lg.apps.googleusercontent.com">
{% endblock %}

{% block cuerpo %}
    <p>Google OAuth2 Sign in</p>
    {# Load the Google Platform Library #}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
    <H1>
    {# Google Sign in Button #}
    <div class="g-signin2" data-onsuccess="onSignIn"></div>


    {# Boton Sign out #}
    <button type="button" onclick="signOut();">Sign Out</button>
    </H1>
    {# Cargo Scripts Google Oauth2 para utilizar con los botones #}
    <script type=text/javascript src="{{ url_for('static', 
    filename='oauth_functions.js') }}"></script>

{% endblock %}
