{# jsoauthlogin.html #}
{% extends "topbar_base.html" %}

{% block cabeza %}
    {#<meta name="google-signin-client_id"
    content="933060102795-0hf4m6v3cuq4ocvubaide7ouqui2l4lg.apps.googleusercontent.com">#}
    <meta name="google-signin-client_id" 
    content="{{id_api}}">
    {# Cargo Scripts Google Oauth2 para utilizar con los botones #}
    <script type=text/javascript src="{{ url_for('static', filename='js/oauth_functions.js') }}"></script>
{% endblock %}

{% block cuerpo %}
    <h1>Google OAuth2 Sign in</h1>
    
    {# Load the Google Platform Library #}
    {#<script src="https://apis.google.com/js/platform.js" async defer></script>#}
    {# Default Google Sign in Button #}
    {#
    <div class="g-signin2" data-onsuccess="onSignIn"
    onclick="validarSignIn()"></div>
    #}
    {# Custom Google Sign in Button #}
    <div id="my-signin2"
    onclick="validarSignIn()"></div>
    {# Load the Google Platform Library #}
    {#La function renderButton() está definida en pauth_functions.js. Sirve
    para darle estilo al botón.#}
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <br>
    <a href="{{url_for('blueUser.webLogin')}}">Atrás</a>

    {#-----------------------#}
    {# Boton Sign out #}
    {#
    <button type="button" onclick="signOut();">Sign Out</button>
    #}

{% endblock %}
