{# login.html #}
{% extends "topbar_base.html" %}
{% block cabeza %}
    {# Enviar mensaje con los datos al server #}
    <script 
    src="{{ url_for('static', filename='js/enviarLogin.js') }}">
    </script>
    {# Script necesario parainterpretar
    respuestas del servidor. Requerido por
    enviarLogin.js#}
    <script 
    src="{{ url_for('static', filename='js/respuestasServidor.js') }}">
    </script>
{% endblock %}

{% block cuerpo %}
    <h1>LOGIN</h1>
        <p>Username:</p>
        <input type="text" id="user">
        <br>
        <p>Password:</p>
        <input type="password" id="pass">
        <br>
        <br>
        <button type="button" id="botonLogin" >Login</button>
        <br>
        <a href="{{url_for('blueOAuth.jsOAuthLogin')}}">Google</a>
        <br>
        <a href="{{url_for('blueUser.webRegister')}}">Registrarse</a>

        <script>
            $("#botonLogin").click(function()
            {
                var user = $("#user").val();
                var pass = $("#pass").val();
                enviarLogin(user,pass);
            });
        </script>
{% endblock %}
