{# login.html #}
{% extends "topbar_empty_base.html" %}
{% block cabeza_base %}
    {# Enviar mensaje con los datos al server #}
    <script 
    src="{{ url_for('static', filename='js/enviarLogin.js') }}">
    </script>
    {# Script necesario parainterpretar
    respuestas del servidor. Requerido por
    enviarLogin.js#}
    <script 
    src="{{ url_for('static', filename='js/respuestasServidor.js') }}">
    </script>
	{# OAUTH #}
	{#client id necesaria para emplear API google. Obtenida de fichero
	de credenciales#}
 	<meta name="google-signin-client_id" content="{{id_api}}">
    {# Cargo Scripts Google Oauth2 para utilizar con los botones #}
    <script type=text/javascript src="{{ url_for('static', filename='js/oauth_functions.js') }}"></script>

{% endblock %}

{% block cuerpo_base %}
    <h1>ACCESO</h1>
        {#En los forms, los atributos que identifican a un 
        input text es el name. Es como se identificará en el server.
        P.ej: request.form.get('user') obtendrá el texto
        que haya en el campo de texto con name='user'.#}
        <form id="form_login" action="{{url_for('blueUser.webLogin')}}" method="POST">
            <p>Nombre de usuario:</p>
            <input type="text" id="user" name="user" required="true">
            <br>
            <p>Contraseña:</p>
            <input type="password" id="pass" name="pass" required="true">
            <br>
            <br>
            <button type="submit" id="botonLogin" >Login</button>
        </form>
        {#<a href="{{url_for('blueOAuth.jsOAuthLogin')}}">
		Acceder con cuenta de Google</a>#}
		{# Custom Google Sign in Button #}
		<div id="my-signin2"
		onclick="validarSignIn()"></div>
		{# Load the Google Platform Library #}
		{#La function renderButton() está definida en oauth_functions.js. Sirve
		para darle estilo al botón.#}
		<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
        <p>
        <span>¿No estás registrado?</span>
        <a href="{{url_for('blueUser.webRegister')}}">Registrarse</a>
		</p>

        <script>
        //Unicamente recibe una cadena que se empleará como 
        //selector del form. En este caso, '#form_login'
        var selector = '#form_login';
        enviarLoginForm(selector);
        </script>
{% endblock %}
