{# register.html #}
{% extends "topbar_empty_base.html" %}
{% block cabeza_base%}
    {# Cargo Scripts para la comprobación de datos#}
	{# Cargo Script para la comprobación del umbral#}
    <script 
    src="{{ url_for('static', filename='js/enviarUmbral.js') }}">
    </script>
	{# Cargo Script para la comprobación del nombre y contraseña#}
    <script 
    src="{{ url_for('static', filename='js/enviarRegister.js') }}">
    </script>
    {# Script necesitado por los scripts enviarumbral.js y 
    enviarRegister.js para interpretar las respuestas del servidor. #}
    <script 
    src="{{ url_for('static', filename='js/respuestasServidor.js') }}">
    </script>

{% endblock %}
{% block cuerpo_base %}
    <h1>Register</h1>
    <form id="form_register" action="{{url_for('blueUser.webRegister')}}" method="POST">
        <p>Username:</p>
        <input type="text" id="user" name="username" required="true">
        <br>
        <p>Password:</p>
        <input type="password" id="pass" name="password" required="true">
        <br>
        <p>Repeat Password:</p>
        <input type="password" id="passRep" name="passRep" required="true">
        <br>
        <p>Umbral:</p>
        <input type="text" id="umbral" name="umbral" required="true">
        <br>
        <br>
        <button type="submit" id="boton_registro">Register</button>
    </form>
    <br>
    <a href="{{url_for('blueUser.webLogin')}}">Atrás</a>
    <script>
        /*
        $("#boton_registro").click(function()
        {
            var name = $("#user").val();
            var pass = $("#pass").val();
            var passRep = $("#passRep").val();
            var umbral = $("#umbral").val();
            comprobarRegistro(name,pass,passRep,umbral);
        });
        */
        var selector = "#form_register";
        comprobarRegistroForm(selector);
    </script>
{% endblock %}
