{# register.html #}
{% extends "topbar_base.html" %}
{% block cabeza %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% endblock %}
{% block cuerpo %}
    <h1>Register</h1>
    <p>Username:</p>
    <input type="text" id="user">
    <br>
    <p>Password:</p>
    <input type="password" id="pass">
    <br>
    <p>Repeat Password:</p>
    <input type="password" id="passRep">
    <br>
    <p>Umbral:</p>
    <input type="text" id="umbral">
    <br>
    <br>
    <button 
    onclick="comprobarRegistro(document.getElementById('user').value,
    document.getElementById('pass').value,
    document.getElementById('passRep').value,
    document.getElementById('umbral').value);">
    Register
    </button>
    
    <script src="{{ url_for('static', filename='comprobaciones.js') }}">
    </script>
{% endblock %}
