{# register.html #}
{% extends "topbar_base.html" %}
{% block cabeza%}
    {# Cargo Scripts para la comprobación de datos#}
	{# Cargo Script para la comprobación del umbral#}
    <script 
    src="{{ url_for('static', filename='js/comprobar_umbral.js') }}">
    </script>
	{# Cargo Script para la comprobación del nombre y contraseña#}
    <script 
    src="{{ url_for('static', filename='js/comprobar_name_pass.js') }}">
    </script>
    {# Script necesitado por scripts comprobar_*.js para interpretar
    respuestas del servidor#}
    <script 
    src="{{ url_for('static', filename='js/respuestasServidor.js') }}">
    </script>

{% endblock %}
{% block cuerpo %}
    <h1>Register</h1>
    <p>Username:</p>
    <input type="text" id="user">
    <br>
    <p>Password:</p>
    <input type="password" id="pass">
    <br>
    <p>Repeat Password:</p>
    <input type="password" id="passRep">
    <br>
    <p>Umbral:</p>
    <input type="text" id="umbral">
    <br>
    <br>
    <button type="button" id="boton_registro">Register</button>

    <script> 
        $("#boton_registro").click(function()
        {
            var name = $("#user").val();
            var pass = $("#pass").val();
            var passRep = $("#passRep").val();
            var umbral = $("#umbral").val();
            comprobarRegistro(name,pass,passRep,umbral);
        });
    </script>
{% endblock %}
