{# tablas.html #}
{% extends "topbar_base.html" %}
{% block cuerpo %}
<title>Tablas</title>
<div>TABLA:  </div>
<!--Hay que poner el '| safe' detrás de la variable 
para que Flask la interprete como código HTML-->
<br>

{# Tabla HTML. Contenida en un <div> #}
<div id="myTableDiv">
</div>

<br>
<div>Base de datos empleada: {{DBName}} </div>

{#Importo script#}
<script src='{{ url_for('static', filename='js/crearTablas.js') }}'>
</script>

{#Llamo funciones del script importado#}
<script>
var listaNum = '{{listaNum}}'
var listaDate = '{{listaDate}}'

var listaCab = ["numeros", "fechas"]

var listaDatos = [listaNum, listaDate]

console.log("***")
console.log('antes funcion: ' + listaCab)
console.log('antes funcion: ' + listaDatos)

window.onload = crearTablaRandom(document.getElementById('myTableDiv'),listaCab,listaDatos) 
{# window.onload = crearTabla(document.getElementById('myTableDiv'), ["numeros"]
,listaNum) #}
</script>
{% endblock %}
