<!DOCTYPE html>
<html lang="es">
<head>
    {# <meta name="viewport" content="width=device-width, initial-scale=1"> #}
    {# Import jQuery #}
    <script type= "text/javascript" 
    src="{{ url_for('static',filename='jquery.js') }}">
    </script>
    {# Enlace al archivo de estilo #}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    {# Codificación de caracteres para poder poner acentos #}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {#Para añadir html en la cabeza#}
    {% block cabeza %}{% endblock %}
</head>
<body>
    
    {# Barra superior #}
    <div class="topnav">
      <div class="titulo">Random-Lender</div>
      <a href="{{ url_for('webMain') }}">Home</a>
      <a href="{{ url_for('webAccount') }}">Account</a>
      <a href="#">About</a>
    </div>

    <div class="cuerpo">
        {# Bloque de texto que implementaran los otros templates #}
        {% block cuerpo %}{% endblock %}
    </div>

</body>
</html>
