<!DOCTYPE html>
<html lang="es">
<head>
    {# <meta name="viewport" content="width=device-width, initial-scale=1"> #}
    {# Import jQuery #}
    {# CDN #}
    {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>  #}
    {# Downloaded file #}
    <script type= "text/javascript" 
    src="{{ url_for('static',filename='js/jquery.js') }}">
    </script>
    {# JQuery cookies library#}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js">
    </script>
    {# Importo notificaciones gráficas #}
    <script src= "{{ url_for('static',filename='js/graphicalNotification.js') }}">
    </script>
    {# Importo librería para evaluar los SSE y mostrar notificaciones si se
    sobrepasa umbral #}
    <script src= "{{ url_for('static',filename='js/evaluarUmbralSSE.js') }}">
    </script>
    {# Enlace al archivo de estilo #}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    {# Codificación de caracteres para poder poner acentos #}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {#Para añadir html en la cabeza#}
    {% block cabeza %}{% endblock %}
</head>
<body>
    
    {# Barra superior #}
    <div class="topnav">
      {# <div class="titulo">Random-Lender</div> #}
      <img src="{{ url_for('static',filename='logo_rndlender.png') }}"
      alt = "logo"></img>
      <a href="{{ url_for('webMain') }}">Home</a>
      <a href="{{ url_for('webAccount') }}">Account</a>
      <a href="#">About</a>
    </div>

    <div class="cuerpo">
        {# Bloque de texto que implementaran los otros templates #}
        {% block cuerpo %}{% endblock %}
    </div>
    
    {# SSE #}
    <script>
        {# Suscribirse a los SSE #}
		var evtSrc = new EventSource("/sse");
		console.log("SUSCRITO! (creo)");

		evtSrc.onmessage = function(e) {
			console.log('SSE: ' + e.data);
            {# notifyMe(); #}
            {# parsedData será el texto a mostrar en
            la notificación#}
            //var parsedData = String(e.data).replace(/#/g , "\n");
            //notifyMe(parsedData);

            //Evaluo los datos del SSE recibido
            //Si se ha escrito un numero que sobrepasa mi umbral
            //la funcion evaluarUmbralSSE() mostrará una notificación
            evaluarUmbralSSE(e.data)

		}; 
        {# Cerrar conexión con SSE cuando se cierre la ventana#}
        window.onbeforeunload=function(){
                evtSrc.close();
        };
    </script>

</body>
</html>
