<!DOCTYPE html>
{# topbar_empty_base.html.
Similar a topbar_base.html pero sin enlaces en la barra
superior y sin abrir conexion SSE con el servidor.
Este template base se empleará para páginas a las que se 
pueda acceder sin hacer login:
    > /login
    > /register
    > /jsoauthlogin (Google OAuth)
#}
<html lang="es">
<head>
    {# <meta name="viewport" content="width=device-width, initial-scale=1"> #}
    {# Import jQuery #}
    {# CDN #}
    {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>  #}
    {# Downloaded file #}
    <script type= "text/javascript" 
    src="{{ url_for('static',filename='js/jquery.js') }}">
    </script>
    {# JQuery cookies library#}
    {#<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js">
    </script>#}
    <script src= "{{ url_for('static',filename='js/js_cookie_lib.js') }}">
    </script>
    {# Importo notificaciones gráficas #}
    <script src= "{{ url_for('static',filename='js/graphicalNotification.js') }}">
    </script>
    {# Importo librería para evaluar los SSE y mostrar notificaciones si se
    sobrepasa umbral #}
    <script src= "{{ url_for('static',filename='js/evaluarUmbralSSE.js') }}">
    </script>
    {# Enlace al archivo de estilo #}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    {# Codificación de caracteres para poder poner acentos #}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {#Para añadir html en la cabeza#}
    {% block cabeza %}{% endblock %}
</head>
<body>
    {# Barra superior solo con el logo#}
    <div class="topnav">
      {# <div class="titulo">Random-Lender</div> #}
      <img src="{{ url_for('static',filename='logo_rndlender.png') }}"
      alt = "logo"></img>
    </div>

    <div class="cuerpo">
        {# Bloque de texto que implementaran los otros templates #}
        {% block cuerpo %}{% endblock %}
    </div>
</body>
</html>
