<!DOCTYPE html>
{# topbar_empty_base.html.
Similar a topbar_base.html pero sin enlaces en la barra
superior y sin abrir conexion SSE con el servidor.
Este template base se empleará para páginas a las que se 
pueda acceder sin hacer login:
    > /login
    > /register
    > /jsoauthlogin (Google OAuth)
#}
<html lang="es">
<head>
    {# <meta name="viewport" content="width=device-width, initial-scale=1"> #}
    {# Import jQuery #}
    {# CDN #}
    {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>  #}
    {# Downloaded file #}
    <script type= "text/javascript" 
    src="{{ url_for('static',filename='js/jquery.js') }}">
    </script>
    {# JQuery cookies library#}
    {#<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js">
    </script>#}
    <script src= "{{ url_for('static',filename='js/js_cookie_lib.js') }}">
    </script>
    {# Importo notificaciones gráficas #}
    <script src= "{{ url_for('static',filename='js/graphicalNotification.js') }}">
    </script>
    {# Importo librería para evaluar los SSE y mostrar notificaciones si se
    sobrepasa umbral #}
    <script src= "{{ url_for('static',filename='js/evaluarUmbralSSE.js') }}">
    </script>
    {# Enlace al archivo de estilo #}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    {# Codificación de caracteres para poder poner acentos #}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	{# DIALOG #}

    {#JQuery UI. Necesario para la correcta funcionalidad de los dialogs.#}
    {#Scripts de jquery-ui. Incluye funcionalidad de los dialogs.#}
    <script 
        src='{{ url_for('static', filename='js/jquery-ui.js')}}'>
    </script>
    {#Hoja estilos css#}
    <link 
        rel="stylesheet" 
        type= "text/css" 
        href= "{{url_for('static',filename='styles/jquery-ui.css')}}">
	{#Mi script para mostrar alertas#}
    <script src= "{{ url_for('static',filename='js/mostrarAlerta.js') }}">
    </script>
    {#Configuración Dialog id=miDialogo#}
	<script>
	$( function() {
		$("#miDialogo").dialog({
		  autoOpen: false,
		  modal: true,
		  buttons: {
			"dialogButton":{ 
				text: "Ok",
				id: "dialogOkBoton",
				click: function() {
				  $( this ).dialog( "close" );
				}
			}
		  },
		  show: {
			effect: "blind",
			duration: 100
		  },
		  hide: {
			effect: "blind",
			duration: 100
		  }
		});
	});
	</script>


    {#Para añadir html en la cabeza#}
    {% block cabeza_base %}{% endblock %}
</head>
<body>
    {# Barra superior solo con el logo#}
    <div class="topnav">
      {# <div class="titulo">Random-Lender</div> #}
      <img src="{{ url_for('static',filename='logo_rndlender.png') }}"
      alt = "logo"></img>
      {#Bloque para añadir elemento a la barra superior#}
      {%block bar_base%}{% endblock %}
    </div>
	
	{# Diálogo #}
	<div id="miDialogo" title="Atención">
		<p id="miDialogoTexto">This is an animated dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
	</div>

	{# Cuerpo #}
    <div class="cuerpo">
        {# Bloque de texto que implementaran los otros templates #}
        {% block cuerpo_base %}{% endblock %}
    </div>
    {#Lugar para añadir el script SSE desde topbar_base.html#}
    {% block sse_base %}{% endblock %}
</body>
</html>
