<!DOCTYPE html>
<html lang="es">
<head>
    {# <meta name="viewport" content="width=device-width, initial-scale=1"> #}
    {# Import jQuery #}
    {# CDN #}
    {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>  #}
    {# Downloaded file #}
    <script type= "text/javascript" 
    src="{{ url_for('static',filename='js/jquery.js') }}">
    </script>
    {# JQuery cookies library#}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js">
    </script>
    {# Importo notificaciones gráficas #}
    <script src= "{{ url_for('static',filename='js/graphicalNotification.js') }}">
    </script>
    {# Enlace al archivo de estilo #}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    {# Codificación de caracteres para poder poner acentos #}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {#Para añadir html en la cabeza#}
    {% block cabeza %}{% endblock %}
</head>
<body>
    
    {# Barra superior #}
    <div class="topnav">
      <div class="titulo">Random-Lender</div>
      <a href="{{ url_for('webMain') }}">Home</a>
      <a href="{{ url_for('webAccount') }}">Account</a>
      <a href="#">About</a>
    </div>

    <div class="cuerpo">
        {# Bloque de texto que implementaran los otros templates #}
        {% block cuerpo %}{% endblock %}
    </div>
    
    {# SSE #}
    <script>
        {# Suscribirse a los SSE #}
		var evtSrc = new EventSource("/sse");
		console.log("SUSCRITO! (creo)");

		evtSrc.onmessage = function(e) {
			console.log('SSE: ' + e.data);
            {# notifyMe(); #}
            {# parsedData será el texto a mostrar en
            la notificación#}
            var parsedData = String(e.data).replace(/#/g , "\n");
            notifyMe(parsedData);

            {#Obtengo numero aleatorio de el SSE#}
            var num0 = String(e.data).replace(/ /g,"");
            console.log('num0: ' + num0)
            var num1 = num0.split("#",1);
            console.log('num1: ' + num1)
            var num2 = num1[0].split(":");
            console.log('num2: ' + num2)
            var num = parseFloat(num2[1]);
            console.log("Numero:" + num);
            {#Obtengo umbral de las cookies#}
            {#Empleo la libraria de cookies#}
            var umbral = parseFloat(Cookies.get('umbral'));
            console.log("Mi umbral:" + umbral);
            {#Miro si el umbral del usuario es para ser superado
            o rebajado#}
            var umbralSuperior=true;
            if(umbral < 0 )
            {
                umbral *= -1
                umbralSuperior=false
            }
            {#compruebo si el numero supera a el umbral a ser superado#}
            if(umbralSuperior)
            {
                if(num > umbral)
                {
                    notifyMe("UMBRAL SUPERADO\nnum: " + num + "\numb: " + umbral);
                }
            }
            {#compruebo si el numero no supera a el umbral a no ser superado#}
            else
            {
                if(num < umbral)
                {
                    notifyMe("UMBRAL INFERIOR\nnum: " + num + "\numb: " + umbral);
                }
            }
		}; 
        {# Cerrar conexión con SSE cuando se cierre la ventana#}
        window.onbeforeunload=function(){
                evtSrc.close();
        };
    </script>

</body>
</html>
